@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@adatum.com">Support@adatum.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@adatum.com">Marketing@adatum.com</a>
</address>