@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Small PaaS Cloud Service</h1>
    <p class="lead">This is an example cloud service with a single web role.</p>
    <p><a href="http://azure.microsoft.com/en-us/documentation/services/cloud-services/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The instructor will use this cloud service to demonstrate deployment and other administrative tasks.
        </p>
    </div>
</div>