@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    A. Datum was founded in 1989 by an enthusiastic team of friends, who were dissatisfied with the 
    electronic control systems available to manufacturing in those days. Quickly establishing a 
    new approach to control and feedback, A. Datum systems bucked the trends that dominated the 
    industry at that time and ruffled a few entrenched feathers. Over the years, these revolutionary
    ideas became accepted practices and A. Datum went from new kid to industry leader.
</p>
<p>
    Today, A. Datum continues to foster the revolutionary spirit and encourages its engineers to 
    challenge and rethink accepted norms. This has ensured that A. Datum electronics are always at 
    the cutting edge.
</p>
