@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A. Datum Corporation</h1>
    <p class="lead">New approaches to quality manufacturing.</p>
    <p>@Html.ActionLink("Learn More >>", "About", "Home", new { }, new { Class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Control Electronics</h2>
        <p>
            A. Datum is a one-stop-shop for electronic control systems in the automotive and manufacturing sectors. We can design and deliver
            automated control to your custom requirements in rapid time by using Agile methodologies. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Technical Consultancy</h2>
        <p>
            A. Datum electronics are the industry standard and no-one is better placed to help you implement them than our team of specialists.
            Use our expertise to supercharge your deployment.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Custom Solutions</h2>
        <p>
            Uniquely adaptible, A. Datum control systems can integrate with your existing systems and software through APIs. These are fully
            documented or you can work with our expert developers.
        </p>
    </div>
</div>